@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bebas+Neue&family=Caveat:wght@400..700&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto+Slab:wght@100..900&family=Truculenta:opsz,wght@12..72,100..900&family=Varela&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* Navbar main */
.logo img {
    width: 9rem;
}
#nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0px 0px 2px 0px #838383;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
}

/* Ul style here */
.nav_style {
    list-style: none;
    display: flex;
    gap: 2rem;
}

/* a href here */
.link_style {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    color: rgb(117, 113, 113);
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.5s;
    padding: 15px 15px;
}

.link_style:hover {
    color: black;
    transition: 0.7s;
    background-color: rgba(44, 155, 170, 0.068);
    border-radius: 20px;
    transition: 0.5s;
}
.experience{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.5s;
    padding: 15px 15px;
    color: black;
    background-color: rgba(44, 155, 170, 0.337);
    border-radius: 20px;
}

/* Button here */
.button {
    padding: 15px 0px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgb(70, 186, 221);
    color: white;
    border-radius: 15px;
    transition: 0.6s ease;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: rgb(44, 155, 170);
    border: 1px solid rgb(44, 155, 170);
    border-radius: 15px;
    transition: 0.6s;
}

.button a {
    color: white;
    padding: 18px 10px;
    font-size: .9rem;
}

.button a:hover {
    color: rgb(44, 155, 170);
}

/* Navbar Finished Here */
/* Video Section Start Here */
.video_section {
    padding: 0px 0px 0px 70px;
}

#video_main .myvideo {
    margin-top: 8%;
    width: auto;
    height: 40rem;
    padding: 5px 5px;
    box-shadow: 0px 0px 5px 0px #838383;
    z-index: -1;
}

#video_main {
    position: relative;
}

.video_text {
    margin-top: 8%;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 39.2rem;
    width: 70rem;
    background-color: rgba(44, 155, 170, 0.453);
}

.video_text h2 {
    position: absolute;
    top: 30%;
    left: 36%;
    font-family: Helvetica, Helvetica, Arial, Lucida, sans-serif;
    font-size: .7rem;
    line-height: 1.15rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: #ffffff;
    hyphens: auto;
    text-align: center;
    margin: 12px 0px 0px 0px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

.video_text p {
    position: absolute;
    top: 40%;
    left: 25%;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    line-height: 0;
    font-size: 5rem;
    line-height: 5.75rem;
    margin: 0 auto;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
}

.video_text h5 {
    position: absolute;
    top: 55%;
    left: 9%;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

/* Video Section Finished Here */

/* economy start here */
/* Economy picture start here */
.economy {
    display: flex;
    position: relative;
}

.economy_ex {
    position: relative;
    width: auto;
    height: 18.2rem;
    margin-left: 70px;
    margin-top: 20px;
    box-shadow: -3px 0px 5px 0px #838383;
    transition: 0.5s;
}
.economy_ex:hover{
    width: auto;
    height: 30rem;
    transition: 0.5s;
}
.economy img {
    padding: 5px;
}

/* Economy picture Finished here */

/* Economy Watermark start here */
.ec_bg1 {
    position: absolute;
    left: 70px;
    top: 20px;
    width: 9rem;
    height: 3.3rem;
    background-color: rgba(7, 8, 8, 0.263);
    border-bottom-right-radius: 100px;
}

.ec_bg1 h3 {
    color: white;
    padding: 8px 0px 0px 10px;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    line-height: 0;
    font-size: 1.6rem;
    line-height: 5.75rem;
    margin: auto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
}

.ec_bg2 {
    position: absolute;
    left: 33.8%;
    bottom: 6px;
    width: 9rem;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.266);
    border-bottom-left-radius: 20px;
}

.ec_bg2 h2 {
    color: white;
    padding: 0px 0px 0px 30px;
    font-family: Helvetica, Helvetica, Arial, Lucida, sans-serif;
    font-size: .7rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    hyphens: auto;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}
/* Economy Watermark Finished here */

/* Economy side banner start here */
.ec_tx_dt {
    position: relative;
    height: 15rem;
    width: 39rem;
    background-color: rgb(255, 255, 255);
    margin-top: 4%;
    box-shadow: 2px 0px 3px 0px #838383;
}
.ec_tx_dt h2 {
    position: absolute;
    left: 3%;
    top: 5%;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    font-size: 1.8rem;
    color: #010101;
    font-weight: 400;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-shadow: 2px 2px 0 rgba(245, 245, 245, 0.5);
    border-bottom: 2px solid rgb(70, 186, 221);
    border-radius: 10px;
    padding: 10px;
}
.ec_tx_dt p {
    position: absolute;
    top: 40%;
    left: 9%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-shadow: 1px 1px 0 rgba(247, 246, 246, 0.5);
    padding: 0px 38px 0px 0px;
}
.ec_tx_dt h5 {
    position: absolute;
    bottom: 20%;
    left: 9%;
    font-family: Helvetica, Helvetica, Arial, Lucida, sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}
.ec_tx_dt h5:hover {
    border: none;
    background-color: #00000022;
}
/* Economy side banner finished here */


/* Business start here */
/* business picture start here */
.business {
    display: flex;
    position: relative;
}

.business_ex {
    position: relative;
    width: auto;
    height: 21.3rem;
    margin-left: 70px;
    margin-top: 20px;
    box-shadow: -3px 0px 5px 0px #838383;
    transition: 0.5s;
}
.business_ex:hover{
    width: auto;
    height: 35rem;
    transition: 0.5s;
}
.business img {
    padding: 5px;
}

/* business picture Finished here */
/* Business finished here */


/* Premium Start Here */
/* Premium picture start here */
.premium {
    display: flex;
    position: relative;
}

.premium_ex {
    position: relative;
    width: auto;
    height: 17.5rem;
    margin-left: 70px;
    margin-top: 20px;
    box-shadow: -3px 0px 5px 0px #838383;
    transition: 0.5s;
}
.premium_ex:hover{
    width: auto;
    height: 29rem;
    transition: 0.5s;
}
.premium img {
    padding: 5px;
}

/* Premium picture Finished here */
/* Premium FInished Here */

/* End Text Start here */

.end_text{
    text-align: center;
    margin-top: 3rem;
    font-family: Helvetica, Helvetica, Arial, Lucida, sans-serif;
    font-size: .7rem;

}

/* End Text Finished HEre */




/* Footer Start Here  */
.footer_main {
    display: flex;
    left: 0;
    gap: 6rem;
    margin-top: 2rem;
    padding: 25px 25px 0px 100px;
    background-color: rgba(70, 186, 221, 0.062);
}

.footer_main li {
    list-style: none;
    margin-bottom: 5px;
}

.footer_main h2 {
    font-family: Lato, Lato-fallback, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.2rem;
}

.footer_main a {
    font-family: Lato, Lato-fallback, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: .8rem;
    padding-bottom: 3px;
}

.footer_main a:hover {
    border-bottom: 1px solid black;
    background-color: #bbb8b83b;
    transition: 0.2s;
}

.footer_social {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.footer_social img {
    width: 3rem;
    padding: 0px 10px;
    border-radius: 30px;
}

.footer_social a:hover {
    border-bottom: none;
    background-color: transparent;
}

.our_app img {
    width: 6rem;
}

/* Footer Finished Here  */
